# {{ ansible_managed }}

# Defaults for isc-dhcp-server initscript
# sourced by /etc/init.d/isc-dhcp-server
# installed at /etc/default/isc-dhcp-server by the maintainer scripts

#
# This is a POSIX shell fragment
#

# Path to dhcpd's config file (default: /etc/dhcp/dhcpd.conf).
DHCPD_CONF={{ isc_dhcp_server_configfile | default('/etc/dhcp/dhcpd.conf') }}

# Path to dhcpd's PID file (default: /var/run/dhcpd.pid).
DHCPD_PID={{ isc_dhcp_server_pidfile | default('/var/run/dhcpd.pid') }}

# Additional options to start dhcpd with.
#	Don't use options -cf or -pf here; use DHCPD_CONF/ DHCPD_PID instead
{% if isc_dhcp_server_default_options is defined and isc_dhcp_server_default_options != None %}
OPTIONS="{{ isc_dhcp_server_default_options }}"
{% else %}
#OPTIONS=""
{% endif %}

# On what interfaces should the DHCP server (dhcpd) serve DHCP requests?
#	Separate multiple interfaces with spaces, e.g. "eth0 eth1".
{% if isc_dhcp_server_default_interfaces is defined and isc_dhcp_server_default_interfaces != None %}
INTERFACES="{{ isc_dhcp_server_default_interfaces.join(' ') }}"
{% else %}
#INTERFACES=""
{% endif %}
