# {{ ansible_managed }}

omapi-port {{ isc_dhcp_server_omapi_port }};
ddns-update-style none;

default-lease-time 600;
max-lease-time 7200;
log-facility local7;

if exists user-class and option user-class = "iPXE" {
  filename "http://{{ ansible_default_ipv4.address }}/unattended/iPXE?bootstrap=1";
} elsif option architecture = 00:06 {
  filename "ipxe.efi";
} elsif option architecture = 00:07 {
  filename "ipxe.efi";
} elsif option architecture = 00:09 {
  filename "ipxe.efi";
} else {
  filename "undionly.0";
}

{% for item in isc_dhcp_server_subnet %}
subnet {{ item.netaddress }} netmask {{ item.netmask }} {
	option routers               {{ item.gateway }};
	option domain-name           "{{ item.domain }}";
	option domain-search         "{{ item.domain_search }}";
	option domain-name-servers   {{ item.dns }};
        range                        {{ item.range }};
}

{% endfor %}
